<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" class="m-5">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formdata.id"/>
  <div class="row">
    <div class="column">
      <div class="form-group" [hidden]="service.formdata.id! == null">
        <label class="font-weight-bold">Patient Id:</label>
        <label>{{ service.formdata.id }}</label>
      </div>
      <div class="form-group" [hidden]="service.formdata.admissionDate == null">
        <label class="font-weight-bold">Admission date</label>
        <label>{{ service.formdata.admissionDate | date:'mediumDate'}}</label>
      </div>
    </div>
    <div class="column">
      <div class="form-group">
        <label class="font-weight-bold">Surname</label>
        <input name="surname" #surname="ngModel" [(ngModel)]="service.formdata.surname" class="form-check-input font-weight-light" type="text">
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Age</label>
        <input name="age" #age="ngModel" [(ngModel)]="service.formdata.age" class="form-check-input font-weight-light" type="number">
      </div>
    </div>
  </div>
  <div class="form-group btn-group w-75 m-2">
    <button type="button" class="btn btn-secondary m-5" (click)="backClicked()">BACK</button>
    <button type="submit" [disabled]="form.invalid" class="btn btnprimary m-5">SUBMIT</button>
  </div>
</form>
