<!-- <table class="table table-hover">
  <tr *ngFor="let exam of service.list">
    <td (click)="populateForm(exam)">{{exam.id}}-{{exam.infraction}}</td>
    <td (click)="populateForm(exam)">FistTia:{{exam.firstTia}}</td>
    <td><button (click)="onDelete(exam.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table> -->
<app-patient *ngIf="state==='patient-edit'" (backClick)="state='patients'" (patientAdded)="onPatientAdded($event)" (patientUpdated)="onPatientUpdated($event)" [patientId]="selectedPatientId">
</app-patient>
<visit-list *ngIf="state==='visits'" [visits]="patientVisits" (backClick)="visitBackClicked()" (finishVisitClick)="finishVisit($event)" (examinationClick)="showExamination($event)" (addNewVisitClick)="addNewVisit()"></visit-list>
<app-examination *ngIf="state==='examination-edit'" (backClick)="examinationBackClicked()" (examinationInserted)="examinationInserted($event)" [examination]="selectedPatientExamination" [patientId]="selectedPatientId">
</app-examination>
<div class="m-5" *ngIf="state==='patients'">
  <div class="w-100 m-5">
    <h1 class="mb-3 d-inline-block w-50">Patients:</h1>
    <button class="d-inline-block w-50 btn btn-info" (click)="showPatient()">Add new patient</button>
  </div>
  <table [hidden]="!showTable" datatable [dtOptions]="dtOptions" class="row-border hover m-5">
    <thead>
      <tr>
        <th>Patient Id</th>
        <th>Hospital admission date</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Visits</th>
        <th>Edit Patient</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.admissionDate | date:'mediumDate'}}</td>
        <td>{{ patient.surname }}</td>
        <td>{{ patient.age }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="showPatientVisits(patient)">Visits</button>
        </td>
        <td>
          <button type="button" class="btn btn-info" (click)="showPatient(patient)">Edit</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Patient Id</th>
        <th>Hospital admission date</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Visits</th>
        <th>Edit Patient</th>
      </tr>
    </tfoot>
    </table>
</div>
