<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" class="m-5">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formdata.id"/>
  <div class="row">
    <div class="column">
      <div class="form-group">
        <label class="font-weight-bold">Patient Identifier</label>
        <label>{{ service.formdata.id }}</label>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">TIA Present (fill in two weeks after the TIA occurrence)</label>
        <input name="tiaInTwoWeeksOccured" #tiaInTwoWeeksOccured="ngModel" [(ngModel)]="service.formdata.tiaInTwoWeeksOccured" class="form-control" type="checkbox">
      </div>
    </div>
    <div class="column">
      <div class="form-group">
        <label class="font-weight-bold">TIA risk</label>
        <input name="firstClassPrediction" #firstClassPrediction="ngModel" [(ngModel)]="service.formdata.firstClassPrediction" class="form-control" type="number" disabled>
      </div>
      <!-- <div class="form-group">
        <label>secondClassPrediction</label>
        <input name="secondClassPrediction" #secondClassPrediction="ngModel" [(ngModel)]="service.formdata.secondClassPrediction" class="form-control" type="number" disabled>
      </div> -->
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="First interview with a patient">
      <div class="form-group">
        <label>Speech difficulties</label>
        <mat-form-field>
          <mat-select name="speechDif" [(ngModel)]="service.formdata.speechDif">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Vertigo</label>
        <mat-form-field>
          <mat-select name="vertigo" [(ngModel)]="service.formdata.vertigo">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Body weakness</label>
        <mat-form-field>
          <mat-select name="bodyWeakness" [(ngModel)]="service.formdata.bodyWeakness">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>First TIA</label>
        <mat-form-field>
          <mat-select name="firstTia" [(ngModel)]="service.formdata.firstTia">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Gait disturbance</label>
        <mat-form-field>
          <mat-select name="gaitDisturb" [(ngModel)]="service.formdata.gaitDisturb">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>High glucose (≥15 mmol/L)</label>
        <mat-form-field>
          <mat-select name="highGlucose" [(ngModel)]="service.formdata.highGlucose">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Examinations">
      <div class="form-group">
        <label>Infraction (on computed tomography)</label>
        <input name="infraction" #infraction="ngModel" [(ngModel)]="service.formdata.infraction" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label>Initial DBP</label>
        <input name="initialDbp" #initialDbp="ngModel" [(ngModel)]="service.formdata.initialDbp" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label>Atrial Fibrillation</label>
        <mat-form-field>
          <mat-select name="atrialFibrillation" [(ngModel)]="service.formdata.atrialFibrillation">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="true">Present</mat-option>
            <mat-option [value]="false">Absent</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="form-group btn-group w-75 m-2">
    <button type="button" class="btn btn-secondary m-5" (click)="backClicked()">BACK</button>
    <button type="submit" [disabled]="form.invalid" class="btn btnprimary m-5">SUBMIT</button>
  </div>
</form>
