<!-- <table class="table table-hover">
  <tr *ngFor="let exam of service.list">
    <td (click)="populateForm(exam)">{{exam.id}}-{{exam.infraction}}</td>
    <td (click)="populateForm(exam)">FistTia:{{exam.firstTia}}</td>
    <td><button (click)="onDelete(exam.id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table> -->
<div class="m-5">
  <h1 class="mb-3">Observations:</h1>
  <table [hidden]="!showTable" datatable [dtOptions]="dtOptions" class="row-border hover m-5">
    <thead>
      <tr>
        <th>Observation Id</th>
        <th>Patient Id</th>
        <th>Atrial Fibrillation</th>
        <th>Body weakness</th>
        <th>First TIA</th>
        <th>Gait disturbance</th>
        <th>High glucose (≥15 mmol/L)</th>
        <th>Infraction (on computed tomography)</th>
        <th>Initial DBP</th>
        <th>Speech difficulties</th>
        <th>Vertigo</th>
        <th>TIA risk</th>
        <th>TIA occured in two weeks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of examinations">
        <td>{{ exam.id }}</td>
        <td>{{ exam.patientId }}</td>
        <td>{{ exam.atrialFibrillation }}</td>
        <td>{{ exam.bodyWeakness }}</td>
        <td>{{ exam.firstTia }}</td>
        <td>{{ exam.gaitDisturb }}</td>
        <td>{{ exam.highGlucose }}</td>
        <td>{{ exam.infraction }}</td>
        <td>{{ exam.initialDbp }}</td>
        <td>{{ exam.speechDif }}</td>
        <td>{{ exam.vertigo }}</td>
        <td>{{ exam.firstClassPrediction }}</td>
        <td>{{ exam.tiaInTwoWeeksOccured }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Observation Id</th>
        <th>Patient Id</th>
        <th>Atrial Fibrillation</th>
        <th>Body weakness</th>
        <th>First TIA</th>
        <th>Gait disturbance</th>
        <th>High glucose (≥15 mmol/L)</th>
        <th>Infraction (on computed tomography)</th>
        <th>Initial DBP</th>
        <th>Speech difficulties</th>
        <th>Vertigo</th>
        <th>TIA risk</th>
        <th>TIA occured in two weeks</th>
      </tr>
    </tfoot>
  </table>
</div>
